/* ---------------------------------------------

      ░█████╗░  ██╗░░░██╗  ███████╗  ██╗░░░░░
      ██╔══██╗  ██║░░░██║  ██╔════╝  ██║░░░░░
      ██║░░██║  ╚██╗░██╔╝  █████╗░░  ██║░░░░░
      ██║░░██║  ░╚████╔╝░  ██╔══╝░░  ██║░░░░░
      ╚█████╔╝  ░░╚██╔╝░░  ███████╗  ███████╗
      ░╚════╝░  ░░░╚═╝░░░  ╚══════╝  ╚══════╝

       █▀▀ █▀█ █▄░█ █▀▀ █ █▀▀  █▀▀ █ █░░ █▀▀
       █▄▄ █▄█ █░▀█ █▀░ █ █▄█  █▀░ █ █▄▄ ██▄

                 By 𝖫𝖤𝖤𝖯𝖱𝖪𝖸#𝟚𝟘𝟞𝟛

   --------------------------------------------- */

@import "https://leeprky.github.io/themes/Ovel/imports.css";
@import "https://leeprky.github.io/themes/Ovel/imports/09-support/powercord/powercord.css";

/* Colours */
/* Delete "/*" Below */
/* @import url(https://leeprky.github.io/themes/Ovel/imports/08-colours/slook-scheme.css);

   /* ---------------------------------

        █▀▀ █▀█ █▄░█ █▀▀ █ █▀▀
        █▄▄ █▄█ █░▀█ █▀░ █ █▄█ v1.0.1
            
      --------------------------------- */

   /*  -------------------
         Glasscord Start
       ------------------- *
   /* Glasscord Section START (MUST HAVE IT INSTALLED, SEE FILES) */
   :root{
     --glasscord-win-blur: blurbehind;
   }
   /* - Add Transparency
   :root {
     --glasscord-macos-vibrancy: fullscreen-ui;
     --glasscord-linux-blur: true;
     --glasscord-titlebar: default;  
   
     --chatbox-colour: #22274175 !important; 
     --background-primary: #1e233a00 !important; 
     --background-primary-alt: #2d355783 !important; 
     --background-secondary: #1e233a00 !important; 
     --background-secondary-alt: #232942fa !important; 
     --background-tertiary: #14182b85 !important; 
     --background-accent: var(--alt-color2) !important; 
     --background-accent2: #1abc9cc2 !important; 
     --background-accent3: #f52c798f !important; 
     --background-floating: #111422fb !important; 
   }
   /*  -------------------
          Glasscord End
       ------------------- *

/*  -------------------
        Main Config 
    ------------------- *

/* Status */
:root {

   /* Gradients */
   --default-gradient: 315deg, #4657a3 0%, #464186 74%;
   --special-gradient: 315deg, #333d91 0%, #c987b8 74%;
   --red-gradient: 315deg, #AA3738 0%, #F04747 74%;
   --yellow-gradient: 315deg, #c29b1b 0%, #ffa640 74%;
   --green-gradient: 315deg, #507a73 0%, #4b7c72  74%;
   --grey-gradient: 315deg, #5b55b3 0%, #5b55b3 74%;
   --white-gradient: 315deg, rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 0.342) 74%;
   /* Transitions */
   --font-normal: 500;
   --font-hover: bold;
   --font-size-hover: 15px;
   --hover-transition: 0.1s linear;
   --transform-normal: scale(1);
   --hover-transform: scale(1.15);
   --setting-hover-transform: scale(1.025);
   --button-hover-transform: scale(1.03);

   /* Greenple Colour*/
   --green-color: var(--alt-color2);
   --green-bar-on: #5c646480;
   --green-bar-bg: var(--green-color);
   --green-slider-on: var(--green-color);
   --green-slider-off: #5c646480;
   --green-slider-dot: #fff;
}

.theme-dark, .theme-light {
  --border-radius: 8px;
      
  --spotify-modal: block;
  --spotify-height: 50px;
  --spotify-left: 1000px;
  
  --bg-avatar: url(https://i.imgur.com/g37HbBe.png);
      
 --popout-width: 480px; 
 --modal-bg: #121524; 
 
  --scrollbars: ; 
      
  --app-rounding: 16px;
      
  --sidebar-fade: 88%;
  --friends-sidebar-fade: 48%;
}

 /* Ovel Dark */
 .theme-dark {

 --chatbox-colour: #222741; 

 --alt-color: 76, 70, 163; 
 --alt-color2: #4C46A3; 
 
 --playing-color: var(--alt-color2); 
 --spotify-color: #38CB75; 
 --streaming-color: rgb(127, 50, 179); 
 
  /* Header Colors */
  --header-primary: #fff; 
  --header-secondary: #b9bbbe; 
  --channels-headings: var(--alt-color2); 

  /* Text Colours */
  --text-normal: #ccc8fd; 
  --text-muted: #535170; 
  --text-link: var(--alt-color2); 
  --channels-default: #b8b6d6; 
  --interactive-normal: #b9bbbe; 
  --interactive-hover: #ccc8fd; 
  --interactive-hover-icons: var(--background-accent2); 
  --interactive-active: #fefeff; 
   --interactive-active-icons: var(--background-accent2); 
  --interactive-muted: #535170; 
 
  /* Background Colours */
  --background-primary: #1E233A; 
  --background-primary-alt: #2d3557; 
  --background-secondary: #1E233A; 
  --background-secondary-alt: #232942;
  --background-tertiary: #14182b; 
  --background-accent: var(--alt-color2); 
  --background-accent2: #1ABC9C; 
  --background-accent3: #F52C79; 
  --background-floating: #111422; 
 
  /* Mentioned  Colours */
  --background-mentioned: #3a339965 !important; 
  --background-mentioned-hover: #4c46a359; 
  --background-mentioned-bar: var(--background-accent); 
 
  --background-help-warning: rgba(250,166,26,0.1); 
  --background-help-info: rgba(0,176,244,0.1); 
 
  /* Scrollbar Colours */
  --background-modifier-hover: #4c46a3af; 
  --background-modifier-active: #4c46a3fa; 
  --background-modifier-selected: #4c46a39f; 
  --background-modifier-accent: #4c46a309; 
 
 /* Box Shadow On Floating Elements Colours */
 --elevation-stroke: 0 0 0 1px rgba(4,4,5,0.15); 
 --elevation-low: 0 1px 0 rgba(18, 20, 36, 0.767),0 1.5px 0 rgba(6,6,7,0.05),0 2px 0 rgba(4,4,5,0.05);
 --elevation-medium: 0 4px 4px rgba(0,0,0,0.16); 
 --elevation-high: 0 8px 16px rgba(0,0,0,0.24); 
 
 --scrollbar-thin-thumb: #eaedf100; 
 --scrollbar-thin-track: transparent;
 --scrollbar-auto-thumb: var(--alt-color2); 
 --scrollbar-auto-track: #26272902; 
 --scrollbar-auto-scrollbar-color-thumb: #f0f3f8; 
 --scrollbar-auto-scrollbar-color-track: #2f313600; 
     
 /* Other */
 --radio-group-dot-foreground: var(--alt-color); 
 }

/* Ovel Light */
 .theme-light {
 
  --chatbox-colour: #aba6e6;
 
  --alt-color: 76, 70, 163; 
  --alt-color2: #4C46A3; 

  --playing-color: var(--alt-color2); /* Dont Work In New Discord Modal Update */
  --spotify-color: #38CB75; /* Dont Work In New Discord Modal Update */
  --streaming-color: rgb(127, 50, 179); /* Dont Work In New Discord Modal Update */
  
   /* Header Colors */
   --header-primary: #1e1b58; /* Main Header Colour - #fff */
   --header-secondary: #1b154e; /* Secondary Header Colour - #b9bbbe */
   --channels-headings: var(--alt-color2); /* Headers For Channels/Role Names Colour - var(--alt-color2) */
 
   /* Text Colours */
   --text-normal: #2e2a5c; /* Chat Text - #dcddde */
   --text-muted: #6c67a0; /* Channel Icon Colour - #72767d */
   --text-link: var(--alt-color2); /* Text Link Globally - var(--alt-color2); */
   --channels-default: #332f79; /* Default Channel Names Colour - #8e9297 */
   --interactive-normal: #908dca; /* Interactive Buttons Normal Colour - #b9bbbe */
   --interactive-hover: #332f79; /* Interactive Buttons Hover Colour - #dcddde */
   --interactive-hover-icons: var(--background-accent2); /* Interactive Buttons Hover Colour - var(--alt-color2);*/
   --interactive-active: #101011; /* Interactive Buttons Active Colour - #fff */
    --interactive-active-icons: var(--background-accent2); /* Interactive Buttons Icon Colour - var(--alt-color2); */
   --interactive-muted: #535170; /* Interactive Buttons Muted Colour - #4f545c */
  
   /* Background Colours */
 --background-primary: #ccc8fd !important; /* Main Background Colour, Chat Etc - #191a1fc2 */
 --background-primary-alt: #ccc8fd !important; /* Main Alternative Background Colour - #191a1fd0 */
 --background-secondary: #ccc8fd !important; /* Secondary Background Colour, Channelist, TopBar  Etc - #1b1c224f */
 --background-secondary-alt: #ccc8fd !important; /* Secondary Alternative Background Colour - #1b1c228a */
 --background-tertiary: #ccc8fd !important; /* Tertiary Background Colour | #App Mount Colour Etc - #191b2277 */
 --background-accent: var(--alt-color2) !important; /* Accent Background Colour, Pills Etc - var(--alt-color2) */
 --background-accent2: #1ABC9C !important; /* Accent Background Colour, Pills Etc - var(--alt-color2) */
 --background-accent3: #F52C79 !important; /* Accent Background Colour, Pills Etc - var(--alt-color2) */
 --background-floating: #342f72 !important; /* Floating Modals Background Colour, Clickable Stuff Etc -#18191c */
  
   /* Mentioned  Colours */
   --background-mentioned: #3124e665 !important; /* Chat Mentioned BG - rgba(26, 60, 250, 0.123) */
   --background-mentioned-hover: #1f178f59; /* Chat Mentioned Hover BG - rgba(41, 26, 250, 0.08) */
   --background-mentioned-bar: var(--background-accent); /* Chat Mentioned Bar BG - var(--background-accent) */
  
   --background-help-warning: rgba(250,166,26,0.1); /* IDK | Rebrand Stuff - rgba(250,166,26,0.1) */
   --background-help-info: rgba(0,176,244,0.1); /* IDK | Rebrand Stuff - rgba(0,176,244,0.1) */
  
   /* Scrollbar Colours */
   --background-modifier-hover: #a8a2faaf; /* Hovering Over Buttons Hover Colour - rgba(79,84,92,0.16) */
   --background-modifier-active: #9891ffaf; /* Hovering Over Buttons Active Colour - rgba(79,84,92,0.16) */
   --background-modifier-selected: #8f8addaf; /* Hovering Over Buttons Selected Colour - rgba(79,84,92,0.16) */
   --background-modifier-accent: #716ea009; /* Hovering Over Buttons Accent Colour - rgba(79,84,92,0.16) */
  
  /* Box Shadow On Floating Elements Colours */
  --elevation-stroke: 0 0 0 1px rgba(4,4,5,0.15); /* Box Shadow On Floating Elements Stroke - 0 0 0 1px rgba(4,4,5,0.15) */
  --elevation-low: 0 1px 0 rgba(18, 20, 36, 0.767),0 1.5px 0 rgba(6,6,7,0.05),0 2px 0 rgba(4,4,5,0.05); /* Box Shadow On Floating Elements Low - 0 1px 0 rgba(4,4,5,0.2),0 1.5px 0 rgba(6,6,7,0.05),0 2px 0 rgba(4,4,5,0.05) */
  --elevation-medium: 0 4px 4px rgba(0,0,0,0.16); /* Box Shadow On Floating Elements Medium - 0 4px 4px rgba(0,0,0,0.16) */
  --elevation-high: 0 8px 16px rgba(0,0,0,0.24); /* Box Shadow On Floating Elements High - 0 8px 16px rgba(0,0,0,0.24) */
  
  --scrollbar-thin-thumb: #01011300; /* Scrollbar Thin Blob - eaedf100 */
  --scrollbar-thin-track: transparent; /* Scrollbar Thin Blob Track - transparent */
  --scrollbar-auto-thumb: var(--alt-color2); /* Scrollbar Large Blob - #e5e9ee */
  --scrollbar-auto-track: #1b315c02; /* Scrollbar Large Blob Track - #ebeef100 */
  --scrollbar-auto-scrollbar-color-thumb: #f0f3f8; /* Scrollbar Large Blob - #f0f3f8 */
  --scrollbar-auto-scrollbar-color-track: #2d56be00; /* Scrollbar Large Blob Track - #2f313600 */
      
  /* Other */
  --radio-group-dot-foreground: var(--alt-color2); /* Ignore */
  }

/* Ignore - Fixes */
[class="size14-e6ZScH title-eS5yk3"] {margin-bottom: 1px;}

/* ---------------------------------------------

             ███████╗███╗░░██╗██████╗░
             ██╔════╝████╗░██║██╔══██╗
             █████╗░░██╔██╗██║██║░░██║
             ██╔══╝░░██║╚████║██║░░██║
             ███████╗██║░╚███║██████╔╝
             ╚══════╝╚═╝░░╚══╝╚═════╝░

   --------------------------------------------- */
